body{
  padding-top: 70px;
  
}

#timer{
  font-size: 250px;
  padding-left: 55px;
}

#start{
  height: 130px;
  width: 330px;
}

#break{
  width: 250px;
  height: 70px;
}

#pause{
  color: black;
  width: 330px;
  height: 70px;
}

#reset{
  width: 330px;
  height: 70px;
}
